<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-full.svg"
    >
  </q-page>
</template>

<script>

export default {
  name: 'PageIndex',
  created() {
    this.$axios.get('')
       .then(res => console.log(res))
       .catch(err => console.log(err))
  }
}
</script>
